.contact-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    min-height: 350px;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--card);
}

.contact-link {
    display: inline-block;
    margin-top: 1.2rem;
    text-decoration: none;
}

.contact-links__flex {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}