---
import { Icon } from "astro-icon/components";
import "./contact.css";
---

<section class="contact">
  <div class="contact-container">
    <h2 class="u-title">¿Listo para tu próximo proyecto?</h2>
    <p>
      Siempre estoy abierto a nuevas oportunidades, colaboraciones y proyectos
      interesantes. ¡Conectemos!
    </p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:lainercacaeres12@gmail.com"
      class="btn-primary contact-link"
    >
      <div class="contact-links__flex">
        <Icon name="mail" size={24} />
        <span>Enviar correo</span>
      </div>
    </a>
  </div>
</section>
