---
import "./banner.css";
---

<header>
  <div class="banner">
    <span class="banner-title">Desarrollador Front-End</span>
    <h1 class="banner-subtitle">
      Creando <span>experiencias</span> de usuario únicas
    </h1>
    <p class="banner-description">
      Me especializo en el desarrollo de interfaces frontend modernas,
      accesibles y de alto rendimiento, enfocadas en brindar experiencias de
      usuario intuitivas y atractivas. Trabajo con tecnologías actuales para
      crear aplicaciones web escalables, optimizadas y responsivas, cuidando
      cada detalle visual y funcional.
    </p>


    <div class="banner-actions">
      <a href="#" class="btn-primary">Ver proyectos</a>
      <a href="#" class="btn-primary btn-cv">Ver CV</a>
    </div>
  </div>
</header>
